{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'weatherchecker/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>HouseProtect - WeatherChecker</title>
</head>
<body>

	<div class="container center">
		<h1>HouseProtect - WeatherChecker</h1>
		<h5>Please upload csv file and enter date</h5>
		<form action="{% url 'weatherchecker:check' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
				<input type="file" name="file" class="file" required="true"><br>
				<input type="date" name="date" class="date" required="true"><br>
				<button type="submit" class="btn btn-primary submit">Check</button>
			</div>
		</form>

		{% if messages %}
		    {% for message in messages %}
		    	<div class="alert alert-danger">
		    		{{ message }}
		    	</div>
		    {% endfor %}
		{% endif %}
	</div>
</body>
</html>