{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'weatherchecker/style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Results</title>
</head>
<body>

	<div class="container results">
		<h1>Weather forecast on {{ date }}</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>
					<th>City Address</th>
					<th>Weather</th>
				</tr>
			</thead>
			<tbody>
				{% for result in results %}
				<tr>
					<th>{{ result.name }}</th>
					<th>{{ result.phone_number }}</th>
					<th>{{ result.address }}</th>
					<th>{{ result.weather }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{% url 'weatherchecker:index' %}" class="btn btn-primary">Upload Again?</a>
	</div>
</body>
</html>