.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid gray;
}

.container {
	padding: 10px;
}

.file, .date, .submit {
	margin-top: 10px;
}

.results {
	margin-top: 20px;
	margin-bottom: 10px;
}